footer {
    background-image: url('../../../assets/img/fondo-main.png');
    background-size: cover;
}

.footerMain {
    background: rgba(52, 58, 64, 0.7);
    padding-bottom: 50px;
}

h4 {
    text-align: center;
    color: #FAFAFA;
    margin-top: 15px;
}

.card {
    margin-left: 10px;
}

a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

p a {
    color: #FAFAFA;
}

.card-body {
    padding: 0;
}

.card {
    margin-top: 15px;
}

.copyright {
    background: black;
    color: #FAFAFA;
    height: 40px;
}

small {
    display: block;
    padding-top: 10px;
}

li {
    list-style: none;
}