.linker {
    background: RGBA(20, 20, 20, 0.7);
    bottom: 0;
    height: 40px;
    left: 0;
    width: 100%;
}

.linker a {
    color: #fff;
}

.linker h5 {
    text-align: left;
    padding-left: 10px;
    margin-top: -12px;
}

.carousel-item {
    background: #F4F4F4;
}