<div class="bd-example d-none d-md-block">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <!--<ol class="carousel-indicators" *ngFor="let dot of carousel; let j = index">
            <li data-target="#carouselExampleCaptions" [data-slide-to]="j" [ngClass]="{'active': j==0}"></li>
        </ol>-->
        <div class="carousel-inner">

            <div class="carousel-item" *ngFor="let slide of carousel; let i = index" style="height: 400px;" [ngClass]="{'active': i==0}">
                <a [href]="slide.url" target="_blank">
                    <img src="http://main-sl.com/main_server/app/assets/img/carousel/{{slide.imagen}}" class="d-block w-100" alt="Imagen de {{slide.texto}}">
                    <div class="carousel-caption d-none d-md-block linker">
                        <h5>{{slide.texto}}</h5>
                    </div>
                </a>
            </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>