<div class="">
    <h1>Quiénes somos</h1>
    <p class="lead">En el año 1981 nace <strong>MECANISMOS AUTOMÁTICOS INDUSTRIALES S.L. (MAIN S.L.)</strong> se concibe para dar un servicio integral en la automatización <strong>NEUMÁTICA Y OLEOHIDRAÚLICA</strong> del sector industrial en nuestro pais</p>
    <hr class="my-4">
    <p>ofreciendo a nuestros clientes una gestión profesional eficiente tanto en las soluciones globales, como en los casos particulaes.</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/about']">Leer más</a>
</div>