<main class="animated fadeInRight">
    <div class="container">
        <br><br>
        <h2 class="text-center">Nuestros Fabricantes</h2>
        <br><br>
        <app-fabricante></app-fabricante>
        <br><br>
    </div>

</main>