<main class="animated fadeInRight">
    <div class="container">
        <br><br>
        <h2 class="text-center">Nuestra empresa</h2>
        <hr>
        <br><br>
        <p>En el año 1981 nace <strong>MECANISMOS AUTOMÁTICOS INDUSTRIALES S.L. (MAIN S.L.)</strong> se concibe para dar un servicio integral en la automatización <strong>NEUMÁTICA Y OLEOHIDRAÚLICA</strong> del sector industrial en nuestro pais, ofreciendo
            a nuestros clientes una gestión profesional eficiente tanto en las soluciones globales, como en los casos particulares.</p>
        <p>Siguiendo con nuestra idea principal de dar un servicio completo al sector industrial y coincidiendo con la implantación de una sede en Málaga, desarrollamos un departamento técnico responsable de dar soluciones en sectores como el: <strong>CONTROL, REGULACIÓN, MEDICIÓN Y EN GENERAL CUALQUIER PROCESO DE AUTOMATIZACIÓN INDUSTRIAL</strong>.</p>
        <p>Nuestra intención es trasladar a nuestros clientes nuestra marcada experiencia y trayectoria en el mercado industrial de los sectores anteriormente descritos y es nuestro fin primordial dar asistencia técnica y proporcionar la mayor calidad en
            nuestros productos.
        </p>
        <br><br><br>
        <p><strong>D. Mariano Sedano</strong></p>
        <p class="rango">Gerente Main S.L.</p>
        <br><br><br>
    </div>
</main>