<main class="animated fadeInRight">
    <div class="container">
        <br><br>
        <h2 class="text-center">Contacto</h2>
        <app-formulario-contacto></app-formulario-contacto>
        <!--<div class="row">
            <div class="col-xl-6">
                <br><br>
                <h2 class="text-center">Contacto</h2>
                <app-formulario-contacto></app-formulario-contacto>
            </div>
            <div class="col-xl-6">
                <br><br>
                <h2 class="text-center">Donde estamos</h2>
                <app-mapa></app-mapa>
            </div>
        </div>-->
    </div>
    <br><br><br>
</main>